<div *ngIf="character">
    <h2>{{character.race}} {{character.class}} {{character.level}} character details</h2>
    <div>
        <label>Race: </label>{{character.race}}
    </div>
    <div>
        <label>Sub race: </label>{{character.subRace}}
    </div>
    <div>
        <label>Class: </label>{{character.class}}
    </div>
    <div>
        <label>Name: </label>{{character.name}}
    </div>
    <div>
        <label>level: </label>{{character.level}}
    </div>
    <button (click)="goBack()">Back</button>
</div>