<h2>My Characters</h2>
<div>
  <button (click)="add()">
    Add a character
  </button>
</div>
<ul class="characters">
  <li *ngFor="let character of characters" (click)="onSelect(character)" [class.selected]="character === selectedCharacter">
      <span class="badge">{{character.id}}</span><span underlineBold> {{character.name}} {{character.class}} {{character.level}}</span>
      <button class="delete" (click)="delete(character); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedCharacter">
  <h2>
    {{selectedCharacter.name | uppercase}} is my character
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>